version: '1.0'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_omni
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: omni_sales
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
